@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --dark: #2a3030;
    --fs-sm: clamp(0.8rem, 0.97vi + 0.5rem, 1.41rem);
    --fs-base: clamp(1rem, 1.4vi + 0.56rem, 1.88rem);
    --fs-md: clamp(1.25rem, 2vi + 0.63rem, 2.5rem);
    --fs-lg: clamp(1.56rem, 2.83vi + 0.68rem, 3.33rem);
    --fs-xl: clamp(1.95rem, 3.98vi + 0.71rem, 4.44rem);
    --fs-xxl: clamp(2.44rem, 5.57vi + 0.7rem, 5.92rem);
    --fs-xxxl: clamp(3.05rem, 7.74vi + 0.63rem, 7.89rem);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", Poppins, Roboto, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-content-space-between {
    justify-content: space-between;
}
.justify-content-space-around {
    justify-content: space-around;
}

.overflow-hidden {
    overflow: hidden;
}

.hidden {
    display: none;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.padding-100 {
    padding: min(2.5em, 10%);
}

.margin-botttom-100 {
}
.margin-botttom-100 {

}
.margin-botttom-100 {

}
.margin-botttom-100 {

}
.margin-botttom-100 {

}
.margin-botttom-100 {

}

.margin-top-100 {
    margin-top: min(6em, 4%);
}
.margin-top-200 {

}
.margin-top-300 {
    margin-top: min(18em, 12%);
}
.margin-top-400 {

}
.margin-top-500 {

}
.margin-top-600 {

}

.margin-left-100 {
    margin-left: min(6em, 4%);
}
.margin-left-200 {

}
.margin-left-300 {

}
.margin-left-400 {

}
.margin-left-500 {

}
.margin-left-600 {

}

.margin-right-100 {
    margin-right: min(6em, 4%);
}
.margin-right-200 {

}
.margin-right-300 {

}
.margin-right-400 {

}
.margin-right-500 {

}
.margin-right-600 {

}

.square-100 {
    width: 50px;
    height: 50px;
}

.height-100 {
    
}
.height-200 {

}
.height-300 {

}
.height-400 {

}
.height-500 {

}
.height-600 {

}
.height-700 {

}

.width-100 {
    
}
.width-200 {

}
.width-300 {

}
.width-400 {

}
.width-500 {

}
.width-600 {

}
.width-700 {

}

.max-width-100 {
    max-width: 50px;
}
.max-width-200 {
    max-width: 100px;
}
.max-width-300 {
    max-width: 150px;
}
.max-width-400 {
    max-width: 200px;
}
.max-width-500 {
    max-width: 250px;
}
.max-width-600 {
    max-width: 300px;
}
.max-width-700 {
    max-width: 400px;
}

.left-100 {
    
}
.left-200 {

}
.left-300 {

}
.left-400 {

}
.left-500 {

}
.left-600 {

}
.left-700 {

}
.left-800 {

}

.right-100 {
    
}
.right-200 {

}
.right-300 {

}
.right-400 {

}
.right-500 {

}
.right-600 {

}
.right-700 {

}
.right-800 {

}

.top-100 {
    
}
.top-200 {

}
.top-300 {

}
.top-400 {

}
.top-500 {

}
.top-600 {

}
.top-700 {

}
.top-800 {

}

.bottom-100 {
    bottom: 0;
}
.bottom-200 {

}
.bottom-300 {

}
.bottom-400 {

}
.bottom-500 {

}
.bottom-600 {

}
.bottom-700 {

}
.bottom-800 {

}

.font-size-1 {
    font-size: var(--fs-base);
    line-height: calc(var(--fs-base) * 1.5);
}
.font-size-2 {
    font-size: var(--fs-lg);
    line-height: calc(var(--fs-lg) * 1.5);
}
.font-size-3 {
    font-size: var(--fs-md);
    line-height: calc(var(--fs-md) * 1.5);
}
.font-size-4 {
    font-size: var(--fs-sm);
    line-height: calc(var(--fs-sm) * 1.5);
}
.font-size-5 {
    font-size: var(--fs-xl);
    line-height: calc(var(--fs-xl) * 1.5);
}
.font-size-6 {
    font-size: var(--fs-xxl);
    line-height: calc(var(--fs-xxl) * 1.5);
}
.font-size-7 {
    font-size: var(--fs-xxxl);
    line-height: calc(var(--fs-xxxl) * 1.5);
}

.color {
    color: aliceblue;
}

.hero {
    background-image: url("../images/bgimage.png");
    background-size: cover;
    height: 80vh;
}

.portrait {
    width: 47%;
    max-width: 500px;
    object-fit: cover;
}

.link-1 {

}

.button-1 {

}

@media (max-width: 600px) {
    .intro-container {
        height: 100%;
        flex-direction: column-reverse;
        align-items: center;
        gap: 80px;
    }
    p {
        max-width: 65%;
    }
}
